@import "less/_reset.less";
@import "less/_settings.less";
@font-face { // не подключился через гугл :(
    font-family: "Fira Sans";
    src: url("../fonts/FiraSans-Light.eot");
    src: url("../fonts/FiraSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FiraSans-Light.woff") format("woff"),
    url("../fonts/FiraSans-Light.ttf") format("truetype"),
    url("../fonts/FiraSans-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Fira Sans";
    src: url("../fonts/FiraSans-Medium.eot");
    src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FiraSans-Medium.woff") format("woff"),
    url("../fonts/FiraSans-Medium.ttf") format("truetype"),
    url("../fonts/FiraSans-Medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}
body * {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: @dark-color;
}

.acc_header{
    margin: 25px 0 0 192px;
    .acc_logo{
        opacity: 1;
    }
}
.main_acc_wrap{
    margin-top: 19px;
    margin-left: 69px;
    width: 460px;
    .acc_item{
        margin-bottom: 5px;
        .acc_link{
            display: block;
            background: @light-bg;
            padding: 15px 21px 12px;
            border-radius: 20px;
            font-size: 15px;
            letter-spacing: 0.07px;
            text-decoration: none;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                right: 17px;
                top: 50%;
                margin-top: -4px;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 12px solid @funny-color;
            }
        }
        &.current{
            .acc_link{
                background: @funny-color !important;
                color: @light-color !important;
                &:after{
                    border-top-color: @light-color;
                }
            }
        }
        .acc_content{
            font-weight: 300;
            margin-top: -20px;
            background: #e7e7e7;
            border-radius: 0 0 20px 20px;
            padding: 25px 15px 10px;
            .acc_child{
                font-weight: 300;
                margin-left: 5px;
            }
        }
    }
    .acc_item:nth-child(odd){
        opacity: 1;
        .acc_link{
            background: @dark-bg;
            color: @light-color;
        }
    }
}