/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Light.eot");
  src: url("../fonts/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Light.woff") format("woff"), url("../fonts/FiraSans-Light.ttf") format("truetype"), url("../fonts/FiraSans-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans-Medium.woff") format("woff"), url("../fonts/FiraSans-Medium.ttf") format("truetype"), url("../fonts/FiraSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
body * {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: #4f4f4f;
}
.acc_header {
  margin: 25px 0 0 192px;
}
.acc_header .acc_logo {
  opacity: 1;
}
.main_acc_wrap {
  margin-top: 19px;
  margin-left: 69px;
  width: 460px;
}
.main_acc_wrap .acc_item {
  margin-bottom: 5px;
}
.main_acc_wrap .acc_item .acc_link {
  display: block;
  background: #e7e7e7;
  padding: 15px 21px 12px;
  border-radius: 20px;
  font-size: 15px;
  letter-spacing: 0.07px;
  text-decoration: none;
  position: relative;
}
.main_acc_wrap .acc_item .acc_link:after {
  content: "";
  position: absolute;
  right: 17px;
  top: 50%;
  margin-top: -4px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid #ff8663;
}
.main_acc_wrap .acc_item.current .acc_link {
  background: #ff8663 !important;
  color: #ffffff !important;
}
.main_acc_wrap .acc_item.current .acc_link:after {
  border-top-color: #ffffff;
}
.main_acc_wrap .acc_item .acc_content {
  font-weight: 300;
  margin-top: -20px;
  background: #e7e7e7;
  border-radius: 0 0 20px 20px;
  padding: 25px 15px 10px;
}
.main_acc_wrap .acc_item .acc_content .acc_child {
  font-weight: 300;
  margin-left: 5px;
}
.main_acc_wrap .acc_item:nth-child(odd) {
  opacity: 1;
}
.main_acc_wrap .acc_item:nth-child(odd) .acc_link {
  background: #696666;
  color: #ffffff;
}
