<!DOCTYPE html>
<html lang="en" ng-app="accordion">
<head>
	<meta charset="UTF-8">
	<title>Accordion</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container" ng-controller="accordCtrl">
		<header class="accordion_header"><img src="img/logo.png" alt="{{imgTitle}}" title="{{imgTitle}}"/></header>
		<ul id="accordionList" class="main_accordion_wrap">
			<li class="accordion_item" ng-class="{'current': listItem.active}" ng-repeat="listItem in accordItems">
				<a href="javascript:void(0)" class="accordion_link">{{listItem.name}}</a>
				<ul class="accordion_content">
					<li class="accordion_child" ng-repeat="item in listItem.list">{{item}}</li>
				</ul>
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
